.link-impossible {
    cursor: default;
    color: #c22;
}

.passage a:not(:only-of-type):before {
    content: "• ";
}

#ui-bar-body>:not(:first-child) {
    margin-top: 1em;
}

#story-caption li {
    text-align: left !important;
}

.character-card {
    display: inline-block;
    margin: 10px;
}

.character-card img {
    width: 150px;
}

#story-caption > img {
    width: 90%;
}

.license > a {
    color: white;
}

#story-author {
    font-weight: 400;
    font-style: italic;
    margin-top: 5px;
}

.tuto img {
    border: 10px solid white;
    padding: 10px;
    margin: auto;
    display: block;
}

#passages img {
    max-width: min(80%, 500px);
    display: block;
    margin: auto;
}